container_commands:

    01_setup_apache:
        command: "cp enable_mod_deflate.conf /etc/httpd/conf.d"
    10_migrate:
        command: "php artisan migrate --force"
        cwd: "/var/app/ondeck"
        leader_only: true
    12_cache:
        command: "php artisan cache:clear"
        cwd: "/var/app/ondeck"
    13_optimize:
        command: "php artisan optimize --force"
        cwd: "/var/app/ondeck"
    14_permissions:
        # fix permissions on the Laravel app folder
        command: "chmod 777 -R /var/app/ondeck/storage"
        cwd: "/var/app/ondeck/storage"
    15_permissions:
        # fix permissions on the Laravel app folder
        command: "chmod 777 -R /var/app/ondeck/bootstrap"
        cwd: "/var/app/ondeck/bootstrap"


