# This file adds some useful utility to the `ec2-user` command line by 
# appending lines to `/home/ec2-user/.bash_profile`

container_commands:
  # Prompt is colored differently for user and path.
  # Full path is shown
  # Time of day is shown (handy when providing screen shots in a remote setting)
  fancy_prompt:
    command: echo 'export PS1="\[$(tput setaf 2)$(tput bold)\]\u\[$(tput sgr0)\]:\[$(tput setaf 6)$(tput bold)\]\w \t\[$(tput sgr0)\] > "' >> /home/ec2-user/.bash_profile
  
  # User can now edit commands in the same way they would when in the `vi` 
  # editor. Enter command mode in the usual way with the Esc key. 
  cli_vim_behavior:
    command: echo 'set -o vi' >> /home/ec2-user/.bash_profile

  # Anytime the system chooses an editor (e.g. `visudo`) it will pick `vi`
  # instead of nano, emacs et al.
  default_editor:
    command: echo 'export EDITOR="vi"' >> /home/ec2-user/.bash_profile
  
  # Adds date and time to the command history. (handy for troubleshooting 
  # and determining root cause)
  enhance_command_history:
    command: echo 'export HISTTIMEFORMAT="%m/%d/%y %T "' >> /home/ec2-user/.bash_profile